body {font-family: 'Source Code Pro', monospace; margin: 0 auto; line-height: 1.8em; box-sizing: border-box; color: #333;}
body, html {height: 100%;}

.wrapper {box-sizing: border-box; background: #fff; height: 100%; overflow: auto; }


a {color: #333; text-decoration: none; border-bottom: 2px solid #0000ff;}
a:hover {color: #0000ff; border-bottom: 3px solid #0000ff;}
p {font-family: 'Source Code Pro', sans-serif; font-size: 16px;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.name {font-family: 'Source Code Pro', monospace; font-size: 50px; font-weight: 900; padding-bottom: 16px;}

.container {margin: 0 auto; padding: 50px 50px; overflow: auto;}

.meta {text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif; font-size: 11px; letter-spacing: .15em;}
.meta a:hover {border-bottom: 1px solid #0000ff;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

