.wrapper {box-sizing: border-box; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch;}

.container {margin: 0 auto; padding: 50px 80px; overflow: auto; }

body {font-family: neue-haas-grotesk-display, sans-serif; font-weight: 500; 
    font-size: 48px; line-height: 72px;}
a {color: #333; text-decoration: none; }
a:hover {font-style: italic; font-weight: 600;}


h1 {font-family: neue-haas-grotesk-display, sans-serif; font-weight: 500; 
    font-size: 60px; line-height: 60px;} 

h2 {font-family: neue-haas-grotesk-display, sans-serif; font-weight: 400; 
    font-size: 34px; line-height: 30px; padding: 0
    margin-top:22px;
    margin-bottom: 8px;}  

p {font-family: neue-haas-grotesk-display, sans-serif;


font-weight: 500;

font-style: normal; font-size: 24px;
    line-height: 32px;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 26px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 8px;
}

/*.invert:hover {
	background-color: black;
	color: white;
}*/
 	

.collapsible {
  cursor: pointer;
  background-color: white;   
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size: 44px;
  font-weight: 500px;
  font-family: neue-haas-grotesk-display, sans-serif;
}


.active { 
font-weight: 600; font-style: italic;
}

.underline {
	text-decoration: underline;
}



.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

canvas{
    position: fixed;
    z-index: .1;
    width: 100%;
    Height: 100%;
    pointer-events: none;
  }
/*media query, mobile breakpoint set to 450px*/
@media (max-width: 450px) { 
  .container {
    padding: 25px;}
  p {font-size: 20px; line-height: 32px;}
  h1 {font-size: 48px;}
  h2 {font-size: 24px; line-height: 36px;}  
  }

